.chat-box-container {
  width: 100%;
  height: calc(100% - 10vh);
  background-color: #2F3437;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
}
.chat-users {
  width: 400px;
  height: 100%;
  border-right: 1px solid rgb(149,150,152, 0.3);
}
.chat-user-search {
  height: 85px;
  width: 100%;
  border-bottom: 1px solid rgb(149,150,152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* padding: 0 33px; */
}
.chat-user-search input[type="search"].search-box {
  width: 300px;
  border: 1px solid rgb(149,150,152, 0.3);
  height: 25px;
  border-radius: calc(25px / 2);
  margin: 0;
  padding-left: 30px;
  font-size: 14px;
  outline: none;
  background-color: #262A2D;
  transition: all 0.3s ease;
  color: #959698;
}
.chat-user-search input[type="search"].search-box:focus {
  border: 1px solid rgb(149,150,152, 0.3);
  box-shadow: none;
}
.chat-user-search input[type="search"].search-box::placeholder {
  color: #777777;
  font-size: 14px;
}
.search-icon {
  padding: 5px 10px 0 0;
  color: #777777;
}
.chat-user-container {
  width: 100%;
  height: calc(100% - 85px);
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.chat-user-search{
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}
.user-details {
  width: 100%;
  /* padding: 20px; */
  min-height: 85px;
  border-bottom: 1px solid rgb(149,150,152, 0.3);
  display: flex;
  align-items: center;
  color: #959698;
  font-size: 11px;
  position: relative;
  background-color: #262A2D;
}
.user-details:hover {
  background-color: #2F3437;
  cursor: pointer;
}
.user-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d4f5c;
  margin: 0 20px;
}
.username {
  display: flex;
  flex-direction: column;
}
.username span:first-child {
  font-weight: bolder;
  font-size: 13px;
}
.time-since {
  position: absolute;
  top: 25px;
  right: 25px;
}
.message-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.message-box-header {
  display: flex;
  align-items: center;
  height: 85px;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgb(149,150,152, 0.3);
}
.messager-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #43425d;
  margin-right: 20px;
}
.messager-details {
  color: #959698;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.messager-details span:first-child {
  font-size: 18px;
}
.message-content {
  padding: 0 20px;
  height: 50vh;
  overflow: auto;
  border-bottom: 1px solid rgb(149,150,152, 0.3);
}
.message-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #959698;
}
.flex-l {
  align-items: flex-start;
}
.flex-r {
  align-items: flex-end;
}
.message-container div {
  display: block;
  padding: 15px;
  max-width: 200px;
}
.message-received {
  background-color: #C16975;
  border-radius: 20px 20px 20px 0;
  color: #f5f6fa;
}
.message-sent {
  background-color: #614290;
  border-radius: 20px 20px 0 20px;
  color: #f5f6fa;
}
.timestamp {
  font-size: 11px;
  display: block;
}
.chat-enter {
  height: calc(100% - 85px - 50vh);
  width: 100%;
  padding: 20px;
  position: relative;
}
.chat-enter .text-box {
  width: 100%;
  height: 100%;
  background-color: rgb(38, 42, 45);
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.highlighted-border {
  width: calc(100% - 40px);
  height: 2px;
  background: rgb(149,150,152, 0.3);
  position: absolute;
  left: 20px;
  bottom: 20px;
  visibility: hidden;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: all 0.3s ease;
}
.chat-enter .text-box:focus + .highlighted-border {
  visibility: visible;
  transform: scale(1);
}
